

  body{
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightgreen;
  }


  .row{
    height:400px ;
    width: 100%;

  }
  .box{
    height: 300px;
    width: 220px;
    margin: 5px;
    color: black; 
    float: left; 
    background-color: cornsilk;
    border: 3px dotted cornsilk;
  
  }
  .box:hover{
    transform: translateY(-5px);
    /* transform: scale(1.1); */
    box-shadow: 20px 20px 20px rgba(32, 222, 58, 0.584); 
  }


  .image{
    margin: 0px;
    height: 80%;
    background-color:lightgreen;
  }
  .image:hover{
    background: linear-gradient(to left, cornsilk 50%, lightgreen 50%) right;
 
    background-size: 200%;
    transition: .5s ease-out;
  }
  .details{
    height: 20%;
    margin-left: 10px;
    margin-top: 10px;

  }
  .title{
    font-size: larger;

  }
  .price{
    font-size: large;
    color: darkgreen;
  
  }

  .link{
    color: green;
  }
  a{
        color: green;
    }

  .align{
    text-align: center;
  }


  input{
    width: 85%;
    height: 50px;
    margin-top: 20px;

  }
 #image{
    height: 50px;
    width: 50px;
    vertical-align: middle;
  }

  img{
    object-fit:contain;
   }
  /* category button */
  button{
    
  
    width:50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;


  
  }
  form{
    width: 70%;
    display: inline;
  }


.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  float: right;
  display: inline;
  margin-top: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
